/* For Imports */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {

    /* Colors Here */
    --color-black: #000000;

    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/TartPops6/Trainer-Portfolio/main/img/Background.png);
    background-size: cover;
    background-attachment: fixed;
}

.container-banner {}

.img-overlay {
    width: auto;
    height: 373px;
    background: linear-gradient(to top, #00000033, #00000033), url(https://github.com/TartPops6/Trainer-Portfolio/blob/main/img/Banner-BG-Desktop.gif?raw=true) no-repeat top center;
}