/* For Imports */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    /* Colors Here */
    --color-black: #000000;
    --color-black-20: #00000033;
    --color-white: #FFFFFF;

    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/TartPops6/Trainer-Portfolio/main/img/Background.png);
    background-size: cover;
    background-attachment: fixed;
}

.container-banner {
    background: linear-gradient(to top, var(--color-black-20), var(--color-black-20)), url(https://github.com/TartPops6/Trainer-Portfolio/blob/main/img/Banner-BG-Desktop.gif?raw=true) no-repeat top center;
    height: 373px;
    width: 100%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.texts-container {
    width: 824px;
    height: 300.93px;
    text-align: center;
    padding: 3%;
}

.texts-up {
    width: 824px;
    height: auto;
    font-size: 64px;
    color: var(--color-white);
    margin: auto;
    margin-bottom: 20px;
}

.texts-bottom {
    width: 824px;
    height: auto;
    font-size: 48px;
    color: var(--color-white);
    margin: auto;
}

.img-container {
    width: 480px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.sprite-container {
    position: relative; bottom:10px;
    width: 626px;
    height: 499px;
    background-image: url(https://raw.githubusercontent.com/TartPops6/Trainer-Portfolio/main/Trainer%20Card/Given%20Sprite.png);
}